@font-face {
  font-family: "Breadley Sans";
  src: url("../media/fonts/BreadleySans-Regular.woff2") format("woff2"),
    url("../media/fonts/BreadleySans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
